<mat-drawer-container>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Ejemplo realizado en la conferencia de OLC1</p>
    <p>Pablo Hernández, septiembre de 2020</p>
  </mat-drawer>
  <div>
    <p>
      <mat-toolbar>
        <button mat-icon-button aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>OLC1 - Demo de conferencia</span>
      </mat-toolbar>
    </p>
    <div style="padding:10px; height: 1000px;">
      <app-ide>
      </app-ide>
    </div>
  </div>
</mat-drawer-container>