<mat-card style="height: 60%;">
    <section>
        <div class="example-label">Acciones</div>
        <div class="example-button-row">
            <button mat-flat-button color="primary" (click)="runTab()">Correr</button>
            <button mat-flat-button color="accent" (click)="pushTab()">Agregar</button>
            <button mat-flat-button color="warn" (click)="popTab()">Cerrar</button>
        </div>
    </section>
    <mat-divider></mat-divider>
    <mat-tab-group [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)">
        <mat-tab *ngFor="let i of tabs; let index = index;" [label]="i">
            <div>
                <app-editor [parent]='this'>
                </app-editor>
            </div>
        </mat-tab>
    </mat-tab-group>
</mat-card>
<br />
<mat-card>
    <div>
        <h2>Consola:</h2>
        <div>
            {{console}}
        </div>
    </div>
</mat-card>